<mat-toolbar>
  <mat-toolbar-row>
    <span class="fill-remaining-space">
      <button mat-button [matMenuTriggerFor]="menu">{{selectedFaction}}</button>
      <span class="dune_logo"><mat-icon svgIcon="dune_logo"></mat-icon></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectFaction('Corrino')">Corrino</button>
        <button mat-menu-item (click)="selectFaction('Atreides')">Atreides</button>
        <button mat-menu-item (click)="selectFaction('Smuggler')">Smuggler</button>
        <button mat-menu-item (click)="selectFaction('Fremen')">Fremen</button>
        <button mat-menu-item (click)="selectFaction('Harkonnen')">Harkonnen</button>
        <button mat-menu-item (click)="selectFaction('Ecaz')">Ecaz</button>
        <button mat-menu-item (click)="selectFaction('Vernius')">Vernius</button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Dune Spice Wars Tech Tree</span>
  </mat-toolbar-row>
</mat-toolbar>