.mat-toolbar {
    background: #f3dcc2;
    /*background: black;*/
    color: #948667;
  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .dune_logo {
    position: absolute;
    top: 7px;
  }

  ::ng-deep .mat-mdc-menu-panel{
    background-color:#7E7E7E;
  }

  ::ng-deep .mat-mdc-menu-item:hover{
    background-color: white;
  }