<mat-toolbar>
  <mat-toolbar-row>
    <span class="fill-remaining-space">
      <button mat-button [matMenuTriggerFor]="menu">Select Faction</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Corino</button>
        <button mat-menu-item>Atreides</button>
        <button mat-menu-item>Smuggler</button>
        <button mat-menu-item>Fremen</button>
        <button mat-menu-item>Harkonnen</button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Dune Tech Tree</span>
  </mat-toolbar-row>
</mat-toolbar>