:host{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }
  
  .main{
    min-width: 100px;
  }
  
  .no-border{
    border: none;
  }

  .inner-item {
    margin: 10px  10px;
    /*padding: 0px  5px;*/
    border-bottom: 0.5px solid #f3dcc2;
    border-left: 0.5px solid #f3dcc2;
    border-top: 0.5px solid #f3dcc2;
    border-right: 0.5px solid #f3dcc2;
    /* To adjust the height as well */ 
    width: 193px;
    height: 47px;
  }
  
  .item{
    position: relative;
    display: flex;
    justify-content: center;
  }

  /* Bootstrap Tooltip Customization*/
  ::ng-deep .tooltip-inner{
    width: 400px;
    color: #f3dcc2;
    opacity: 1 !important;
    background-color: #7E7E7E;
  }

  /* remove transparency from tooltip*/
  ::ng-deep .tooltip.show {
    opacity: 1!important;
}

::ng-deep .tooltip-arrow {
  display: none !important;
}

.placeholder-for-faction {
  float:left
}
